<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Kevin Hwang</h1>
            <hr>
            <p>Welcome to my little corner in this infinitely large galaxy we call internet!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">More About Me</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about" ng-controller="mainController">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <img src="img/headshot.jpg" style="padding-bottom: 25px">

                <h2 class="section-heading">A brief background</h2>
                <hr class="light">
                <p class="text-faded">
                    My interest in software development comes from my passion in unlocking the true potential of each
                    technology.
                    Since my first hands-on customized desktop build, I've been unable to resist maximizing the capabilities of all my devices and unleashing their full potential.
                    Today, my life consists of writing clean, scalable code!......and riding my bicycle......
                </p>
                <button ng-click="resume()" class="btn btn-default btn-xl">My Resume</button>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Software Interest</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-html5 wow bounceIn text-primary"></i>
                    <h3>Web Application</h3>
                    <p class="text-muted">Web applications has become how we view and interact with the internet these days, I have experience building web applications using Node.js and Ruby on Rails.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-android wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Mobile Development</h3>
                    <p class="text-muted">Mobile application has become a major part of our lives. Creating applications for Android brings convenience to our daily lives.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Game Development</h3>
                    <p class="text-muted">Who doesn't like to have a little bit of fun? Game development drives the performance in both hardware and software.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Building APIs</h3>
                    <p class="text-muted">Fulfill IoT through building efficient API</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-controller="mainController">
    <section class="no-padding" id="projects">
        <!-- TODO create a database to host project Name, Description, Technology used and multimedia. Use angular to produce those result in other page -->
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://github.com/Majiccow/ParkBark" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Android
                                </div>
                                <div class="project-name">
                                    Park Bark
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://github.com/mykevin81/Android-Bike-Tracker" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Android
                                </div>
                                <div class="project-name">
                                    Android Bike Computer
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://sfsuswe.com/~f15g09/" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web Application
                                </div>
                                <div class="project-name">
                                    TableTop
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
</div>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h3>You can get detail of other projects on my Github Page!</h3>
            <a href="https://github.com/mykevin81" class="btn btn-default btn-xl wow tada"><i
                        class="fa fa-github fa-2x"><h2 style="display:inline; font-size: 25px"> Kevin's GitHub</h2></i></a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with me? That's great! Give me a call or send me an email and I will
                    get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>650-678-6441</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:mykevin81@gmail.com">mykevin81@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>